.demo {
  float: left;
}

.documentation {
  overflow: hidden;
  height: 100%;
  width: auto;
}

iframe {
  height: 100%;
  width: 100%;
  border: 0px;
}

html, body, #app {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a {
  padding-right: 5px;
}
